/*                   Boiler Plate                   */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins';
}
*::before,
*::after {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}
:root{
    --blue0: #8ECAE6;
    --blue1: #219EBC;
    --blue2: #023047;
    --yellow0: #FFB703;
    --yellow1: #FB8500;
    --paragraph-pc: medium;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}
body > *{
    max-width: 1350px;
}
.button{
    background-color: var(--blue2);
    padding: 1rem 2rem;
    border-radius: 1rem;
    color: white;
    font-size: var(--paragraph-pc);
    width: fit-content;
    transition: 1s ease-in-out;
}
.button:hover{
    background-color: var(--blue1);
}

/*          Header Section          */

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
}
nav{
    background-color: var(--blue2);
    border-bottom-right-radius: 5rem;
    width: 70%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 1rem 8rem;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
}
nav .logo-container{
    width: 20%;
    min-width: 15rem;
}
nav .logo-container img{
    width: 100%;
}
nav ul{
    display: flex;
    justify-content: center;
    gap: 10rem;
    align-items: center;
    flex-wrap: nowrap;
    width: 70%;
    height: 100%;
}
ul li > *{
    list-style: none;
    margin: 0%;
    color: white;
    font-size: small;
    text-wrap: nowrap;
}
.login-signup-container{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    gap: .5rem;
    position: absolute;
    right: 0;
    top: 0;
}
.header-button {
    background-color: var(--blue2);
    width: 50%;
    min-width: 17rem;
    padding: .5rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1rem;
    font-size: small;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    padding-left: 1.5rem;
    right: 0;
    position: absolute;
    top: 2.5rem;
}
.header-button i{
    font-size: 3rem;
    color: white;
}
.header-button a{
    font-size: small;
    color: white;
    text-wrap: nowrap;
}

/* Style for the active page link */
nav ul li a.active {
    color: var(--blue0); /* Highlight color (gold in this case) */
}
/*          Hero-section          */

.hero-section{
    width: 100%;
}

.background1{
    padding: 0rem 8rem 0 8rem;
    width: 100%;
    height: 95vh;
    background-color: #219EBC;
    z-index: -1;
    display: flex;
    gap: 2rem;
    position: relative;
}
.hero-design{
    z-index: 0;
    width: 60%;
    position: absolute;
    left: 5rem;
    top: 50%;
    transform: translateY(-50%);
    opacity: 10%;
}
.text-container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    flex: 1;
    z-index: 1;
}

.text-container h1{
    font-size: 6rem;
    line-height: 6.5rem;
    font-weight: 700;
    color: white;
    text-shadow: #023047 1px 1px 2px;
}

.text-container p{
    color: white;
    font-size: medium;
    text-shadow: #023047 1px 1px 2px;
}
.form-button-container{
    display: flex;
    flex-wrap: nowrap;
    gap: .8rem;
}

.form-button-container *{
    font-size: medium;
}

.image-container{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    z-index: 1;
    margin-top: 2rem;
}
.image-container .coins-container{
    width: 80%;
    min-width: 50rem;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 11;
}
.image-container .coins-container .coin1{
    position: absolute;
    left: -2rem;
    top: -6rem;
    width: 8rem;
}
.image-container .coins-container .coin2{
    position: absolute;
    right: -2rem;
    bottom: -5rem;
    width: 8rem;
}
.image-container .coins-container .hero-image{
    width: 100%;
    border-radius: 2rem;
    box-shadow: #023047 1px 1px 4px;
}


.step-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--blue0);
    gap: 1.5rem;
 }
 .step-card p{
    font-size: 1.5rem;
 }
 .step-card i{
    font-size: 7rem;
}


 .process-section{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    padding: 4rem 8rem;
    gap: 2rem;
 }
 .process-text-container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 8rem;
    gap: 2rem;
    flex: 1;
 }
 .process-text-container h2{
    color: var(--blue2);
    font-size: 6rem;
    line-height: 6rem;
}
    .process-text-container img{
        display: none;
    }
.process-text-container h2 span{
    color: var(--blue1);
}
.process-text-container p{
    color:var(--blue2);
    font-size: 2rem;
}
.process-text-container ul{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
 .process-text-container ul li{
    color: #023047;
    font-size: var(--paragraph-pc);
    display: flex;
    align-items: center;
    gap: 2rem;
 }
 .process-text-container ul li div{
    width: 4rem;
    height: 4rem;
    border: var(--blue2) solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    flex-shrink: 0;
 }
 .process-text-container ul li strong{
    color: var(--blue2);
 }
 .process-text-container .button{
    width: fit-content;
 }
 .process-image-container{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 8rem;   
    flex: 1;
 }
 .process-image-container img{
    width: 70%;
    min-width: 30rem;
    max-width: 40rem;
    height: fit-content;
    flex: 1;
 }

 /*          About Section           */

.about-section{
    width: 100%;
    padding: 7rem 0rem 0 8rem;
    display: flex;
    flex-direction: row-reverse;
}
.about-pics-container{
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.about-pics-container .profile-background{
    width: 100%;
    height: 70%;
    border-top-left-radius: 7rem;
    border-bottom-left-radius: 7rem;
    background-color: var(--blue1);
    position: absolute;
    bottom: 13rem;
    right: 0;
    z-index: 1;
}
.about-pics-container img{
    width: 40rem;
    z-index: 3;
    margin: auto auto 0 0;
}
.about-pics-container .about-coin1{
    width: 10rem;
    position: absolute;
    bottom: 10rem;
    right: 27rem;
    z-index: 4;
}
.about-pics-container .about-coin2{
    width: 10rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 2;
}

.about-section .about-text-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
    padding-right: 3rem;
    gap: 3rem;
}

.about-section .about-text-container h2{
    font-size: 6rem;
    line-height: 6.5rem;
    font-weight: 700;
    color: var(--blue2);
}
.about-section .about-text-container p{
    font-size: var(--paragraph-pc);
    color: var(--blue2);
}

.testimonials{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 8rem;
}

.trust-section{
    width: 100%;
    background-color: var(--blue2);
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 2rem;
    padding: 3rem 2rem;
    border-radius: 5rem;
}

.trust-section > *{
    width: 25%;
    height: fit-content;
    flex: 1;
    max-width: 30rem;
    min-width: 25rem;
}

.testimonial-card {
    aspect-ratio: 1;
    width: 27rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    border-radius: 2rem;
    border: 2px solid var(--blue1);
    padding: 1rem;
}
.round-image1{
    background-image: url(assets/testimonial1.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: solid 2px var(--blue1);
}
.round-image2{
    background-image: url(assets/testimonial2.jpg.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: solid 2px var(--blue1);
}
.round-image3{
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: solid 2px var(--blue1);
    background-image: url(assets/testimonial3.png);
}

.testimonial-card p{
    color: gainsboro;
    font-size: 1.3rem;
    width: 100%;    
}

.testimonial-card p strong{
    color: var(--blue0);
}

.invalid-feedback,
.empty-feedback {
    display: none;
}

.was-validated :placeholder-shown:invalid~.empty-feedback {
    display: block;
}

.was-validated :not(:placeholder-shown):invalid~.invalid-feedback {
    display: block;
}

.is-invalid,
.was-validated :invalid {
    border-color: #dc3545;
}

.contact {
    min-height: auto;
    padding-bottom: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8rem;
    width: 100%;
}
.contact h2{
    color: var(--blue2);
    font-size: 5rem;
    font-weight: 700;
}

.contact form {
    position: relative;
    width: 60%;
    max-width: 100rem;
    min-width: 60rem;
    margin: 2rem auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    border: var(--blue1) solid 2px;
    border-radius: 2rem;
}

.contact form label {
    font-size: 1.5rem;
    color: var(--blue2)
    
}

.name-container,
.contacts-container {
    display: flex;
    width: 100%;
    gap: 1rem;
}

.message-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.name-container input,
.contacts-container input {
    width: 100%;
    height: 4rem;
    border-radius: 1rem;
    padding: 0 1rem;
    font-size: 1.5rem;
    border: var(--blue1) solid 1px;
}

#message {
    border-radius: 1rem;
    padding: 1rem;
    resize: none;
    font-size: 1.5rem;
    border: var(--blue1) solid 1px;
}

.fname-container,
.email-container,
.phone-container,
.lname-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 1rem;
}

.message-container {
    display: flex;
    flex-direction: column;
}

.submit-button {
    margin: auto;
}

/* Footer styling */
.footer {
    background-color: #333;
    color: #fff;
    display: flex;
    padding-top: 4rem;
    width: 100%;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
}

.footer-top{
    display: flex;
    width: 100%;
    justify-content: center;
}

.footer-info .logo-container {
    width: 20rem;
}
.footer h4 {
    font-size: 2rem;
    color: var(--blue1);
}

.footer-info{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    line-height: 1.8;
    text-align: left;
    padding: 0 4rem;
}
.footer-info .logo-container img{
    width: 100%;
}
.footer-contact,
.footer-links,
.footer-social {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    line-height: 1.8;
    text-align: left;
    border-left: gray solid 1px;
    padding: 0 4rem;
}

.footer-social{
    font-size: 3rem;
}

.footer-contact a,
.footer-links a {
    color: var(--blue0);
    text-decoration: none;
}



.footer-bottom {
    background-color: #222;
    padding: 20px 0;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
    color: #bbb;
}

.footer-bottom a {
    color: var(--blue0);
    text-decoration: none;
}

.footer-bottom a:hover {
    text-decoration: underline;
}

/* Responsive styling*/

@media (max-width: 1017px){
    .background1{
        padding-right: 4rem;
        padding-left: 4rem;
    }

    nav{
        padding-right: 4rem;
        padding-left: 4rem;
    }
    .background1 .text-container h1{
        font-size: 4rem;
        line-height: 4rem;
    }
    .background1 .text-container p{
        font-size: 1.4rem;
    }
    .background1 .image-container .coins-container{
        min-width: 35rem;
    }
    .process-section{
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .process-text-container h2{
        font-size: 4rem;
        line-height: 4rem;
    }
    .about-section{
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .about-section .about-text-container h2{
        font-size: 4rem;
        line-height: 4rem;
    }
}
@media (max-width: 750px){
    .background1{
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 12rem;
        padding-bottom: 4rem;
        text-align: center;
    }
    .background1 > *{
        width: 100%;
    }
    .background1 .text-container{
        align-items: center;
    }
    .process-section{
        flex;
    }
    .process-section > *{
        width: 100%;
    } 
    .process-image-container{
        display: none;
    }
    .process-text-container{
        align-items: center;
        text-align: center;
    }
    .process-text-container h2{
        font-size: 4rem;
        line-height: 4rem;
    }
    .process-text-container img{
        display: block;
        width: 30rem;
    }
    .about-section{
        flex-direction: column-reverse;
    }
    .about-section .about-text-container, .about-section .about-pics-container{
        width: 100%;
    }
    
    .name-container,
.contacts-container{
    flex-direction: column;
    min-width: none;
}
}
/* Footer styling */
.footer {
    background-color: #333;
    color: #fff;
    display: flex;
    padding-top: 4rem;

}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
    background-color: #333;
    color: #fff;
}

.footer-top{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
}

.footer-info .logo-container {
    width: 20rem;
}
.footer .footer-container .footer-top .footer-contact h4,
.footer .footer-container .footer-top .footer-links h4, 
.footer .footer-container .footer-top .footer-social h4{
    font-size: 2rem;
    color: white;
    
}

.footer-info{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    line-height: 1.8;
    text-align: left;
    padding: 0 4rem;
}
.footer-info .logo-container img{
    width: 100%;
}
.footer-contact,
.footer-links,
.footer-social {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    line-height: 1.8;
    text-align: left;
    border-left: gray solid 1px;
    padding: 0 4rem;
}

.footer-social{
    font-size: 3rem;
}

.footer-contact a,
.footer-links ul li {
    color: var(--blue0);
    text-decoration: none;
    list-style: none;
}



.footer-bottom {
    background-color: #222;
    padding: 20px 0;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
    color: #bbb;
}

.footer-bottom a {
    color: var(--blue0);
    text-decoration: none;
}

.footer-bottom a:hover {
    text-decoration: underline;
}

/* Responsive styling */
@media (max-width: 768px) {
    .footer-container {
        grid-template-columns: 1fr;
        text-align: left;
    }
}